[submodule "third_party/FreeRTOS-Kernel"]
	path = third_party/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "third_party/TinyML_NPU"]
	path = third_party/TinyML_NPU
	url = ../TinyML_NPU.git
[submodule "third_party/VexRiscv"]
	path = third_party/VexRiscv
	url = https://github.com/SpinalHDL/VexRiscv.git
